
<div class="container" > 
        <div id="signupbox" style=" margin-top:50px" class=" container mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading"> 
                            <div class="panel-title"><h3>Sign Up</h3></div>
                            <hr style="border-color:rgb(28, 56, 211)" >
<form #userForm ="ngForm" (ngSubmit)="onSubmit(userForm);userForm.reset()" novalidate  >
   <!--  {{ userForm.value | json}}

    
   {{userModel | json }}-->
    <div class="form-group ">
    <label for="firstName">First Name<span class="asteriskField">*</span></label>
    
    <input id="firstName" type="text"  #name="ngModel" pattern="[a-zA-Z ]*$"  name="firstName" class="form-control"  ngModel placeholder="Enter firstname" required [(ngModel)]="customer.firstName">
  <!-- <small class="text-danger" [class.d-none]="name.valid || name.untouched ">name is required</small>-->
  <div *ngIf="name.errors && (name.invalid || name.touched)">
      <small class="text-danger" [class.d-none]="name.valid || name.untouched" *ngIf="name.errors.required">firstname is required</small>
      <small class="text-danger" *ngIf="name.errors.pattern">firstname must only contain alphabets</small>
    </div>
</div>
<div class="form-group ">
        <label for="lastName">Last Name<span class="asteriskField">*</span></label>
        <input id="lastName" type="text" #lname="ngModel" pattern="[a-zA-Z ]*$" name="lastName" class="form-control" ngModel placeholder="Enter lastname" required [(ngModel)]="customer.lastName">
    <div *ngIf="lname.errors && (lname.invalid || lname.touched)">
        <small class="text-danger" [class.d-none]="lname.valid || lname.untouched" *ngIf="lname.errors.required">lastname is required</small>
      <small class="text-danger" *ngIf="lname.errors.pattern">lastname must only contain alphabets</small>
      </div>
      </div>
<div class="form-group ">
            <label  for="email">Email<span class="asteriskField">*</span></label>
            
              <input type="email" class="form-control" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="email"  name="email" ngModel placeholder="Enter email" required [(ngModel)]="customer.email">
              <div *ngIf="email.errors && (email.invalid || email.touched)">
                  <small class="text-danger" [class.d-none]="email.valid || email.untouched" *ngIf="email.errors.required">email is required</small>
                  <small class="text-danger" *ngIf="email.errors.pattern">Email must be in correct format</small>
                </div>  
</div>

        <div class="form-group ">
        <label for="userName"> Username<span class="asteriskField">*</span></label>
        
        <input type="text" id="userName" #uname="ngModel"  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"  name="userName" class="form-control" ngModel placeholder="Enter username" required [(ngModel)]="customer.username">
        <div *ngIf="uname.errors && (uname.invalid || uname.touched)">
            <small class="text-danger" [class.d-none]="uname.valid || uname.untouched" *ngIf="uname.errors.required">username is required</small>
            <small class="text-danger" *ngIf="uname.errors.pattern">username must be alphanumeric with minimum 8 characters</small>
          </div>
      </div>
            <div ngModelGroup="passwordGroup" [class.has-error]="confirmpwd.touched && confirmpwd.invalid && !confirmpwd.errors?.required ">  
            <div class="form-group ">
            <label  for="pwd">Password<span class="asteriskField">*</span></label>
           
              <input type="password"  name="pwd" #pwd="ngModel" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" class="form-control" 
              (change)="confirmpwd.control.updateValueAndValidity()" ngModel id="pwd" placeholder="Enter password" required [(ngModel)]="customer.password">
              <div *ngIf="pwd.errors && (pwd.invalid || pwd.touched)">
                  <small class="text-danger" [class.d-none]="pwd.valid || pwd.untouched" *ngIf="pwd.errors.required">Password is required</small>
                  <small class="text-danger" *ngIf="pwd.errors.pattern">Password must contain at least one number,one uppercase and lowercase letter,one special character,8 or more characters</small>
                </div>            
</div>
<div class="form-group ">
        <label  for="confirmpwd">Confirm Password<span class="asteriskField">*</span></label>
        
          <input type="password" name="confirmpwd" appConfirmEqualValidator="pwd" #confirmpwd="ngModel" class="form-control"  ngModel id="confirmpwd" placeholder="Re-enter password" required>
          <div *ngIf="confirmpwd.errors && (confirmpwd.invalid || confirmpwd.touched)">
              <small class="text-danger" *ngIf="confirmpwd.touched && confirmpwd.errors?.notEqual && !confirmpwd.errors?.required">confirm password does not match</small>
            <small class="text-danger" [class.d-none]="confirmpwd.valid || confirmpwd.untouched" *ngIf="confirmpwd.errors.required">please re-enter the password</small>
            
          </div>
</div>
</div>
      <div class="form-row">
      <div class="form-group col-md-6">
            <label for="accounttype">Select account type<span class="asteriskField">*</span></label>
            <select class="form-control" #acc="ngModel" required [class.is-invalid]="acc.invalid && acc.touched" ngModel id="accounttype" name="account" placeholder="Choose account type" required [(ngModel)]="customer.account_type" >
              <option id="saving">Saving Account</option>
              <option id="current">Current Account</option>   
            </select>
      <small class="text-danger" [class.d-none]="acc.valid || acc.untouched">Please choose account type</small>
      </div>
      <div class="form-group col-md-6">
          <label for="telephone">Enter telephone/mobile no.<span class="asteriskField">*</span></label>
          <input type="text" class="form-control" #phone="ngModel" pattern="^\d{10}$"  ngModel id="phone" name="phone" placeholder="Phone no." required>
     <!-- <small class="text-danger" [class.d-none]="phone.valid || phone.untouched">phone no. is required and must be 10 digits</small>-->
        <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
          <small class="text-danger" [class.d-none]="phone.valid || phone.untouched" *ngIf="phone.errors.required">Phone no is required</small>
          <small class="text-danger" *ngIf="phone.errors.pattern">Phone no must be 10 digits</small>
        </div>    
    </div>
    </div>
      <div class="form-group ">
            <label for="address">Address<span class="asteriskField">*</span></label>
            <input type="text" class="form-control" #address="ngModel"  ngModel id="address" name="address" placeholder="Building, Floor, Street" required [(ngModel)]="customer.address">
            <div *ngIf="address.errors && (address.invalid || address.touched)">
              <small class="text-danger" [class.d-none]="address.valid || address.untouched" *ngIf="address.errors.required">address is required</small>
          </div>
      </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="inputCity">City<span class="asteriskField">*</span></label>
              <input type="text" class="form-control" #city="ngModel"  pattern="[a-zA-Z ]*$" ngModel id="City" name="city" placeholder="city" required [(ngModel)]="customer.city">
              <div *ngIf="city.errors && (city.invalid || city.touched)">
                <small class="text-danger" [class.d-none]="city.valid || city.untouched" *ngIf="city.errors.required">city is required</small>
                <small class="text-danger" *ngIf="city.errors.pattern">Please enter valid city</small>
              </div> 
            </div>
            <div class="form-group col-md-5">
              <label for="inputState">State<span class="asteriskField">*</span></label>
            <input type="text" class="form-control"  #state="ngModel" pattern="[a-zA-Z ]*$" ngModel id="state" name="state" placeholder="state" required  [(ngModel)]="customer.state">
            <div *ngIf="state.errors && (state.invalid || state.touched)">
              <small class="text-danger" [class.d-none]="state.valid || state.untouched" *ngIf="state.errors.required">state is required</small>
              <small class="text-danger" *ngIf="state.errors.pattern">Please enter valid state</small>
            </div> 
          </div>
            <div class="form-group col-md-3">
              <label for="inputZip">Zip<span class="asteriskField">*</span></label>
              <input type="text" class="form-control" #pin="ngModel" pattern="^[1-9][0-9]{5}$"  ngModel id="pincode" name="pin" placeholder="pincode" required [(ngModel)]="customer.zip">
              <div *ngIf="pin.errors && (pin.invalid || pin.touched)">
                <small class="text-danger" [class.d-none]="pin.valid || pin.untouched" *ngIf="pin.errors.required">Pincode is required</small>
                <small class="text-danger" *ngIf="pin.errors.pattern">Pincode must be 6 digits only</small>
              </div> 
            </div>
          </div>
    <div class="form-group ">
        <button [disabled]="userForm.form.invalid" class="btn  btn-primary " type="submit"  >Submit</button>
    </div>
                    </form>
            </div>
        </div>
    </div>
</div>


<!-- 
<h3>Create Customer Form</h3>
<div [hidden]="submitted" style="width: 300px;">
	<form (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="firstname">First Name</label> <input type="text"
				class="form-control" id="firstname" required
				[(ngModel)]="customer.firstName" name="firstname">
		</div>

		<div class="form-group">
			<label for="lastname">Last Name</label> <input type="text"
				class="form-control" id="lastname" required
				[(ngModel)]="customer.lastName" name="lastname">
		</div>

		<div class="form-group">
			<label for="email">Email</label> <input type="text"
				class="form-control" id="email" required
				[(ngModel)]="customer.email" name="email">
		</div>
		<div class="form-group">
			<label for="username">Username</label> <input type="text"
				class="form-control" id="username" required
				[(ngModel)]="customer.username" name="username">
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="text"
				class="form-control" id="password" required
				[(ngModel)]="customer.password" name="password">
		</div>
		<div class="form-group">
			<label for="account_type">Account type</label> <input type="text"
				class="form-control" id="account_type" required
				[(ngModel)]="customer.account_type" name="account_type">
		</div>

		<div class="form-group">
			<label for="telephone_no">Telephone No:</label> <input type="text"
				class="form-control" id="telephone_no" required
				[(ngModel)]="customer.telephone_no" name="telephone_no">
		</div>

		<div class="form-group">
			<label for="address">Address</label> <input type="text"
				class="form-control" id="address" required
				[(ngModel)]="customer.address" name="address">
		</div>

		<div class="form-group">
			<label for="city">City </label> <input type="text"
				class="form-control" id="city" required
				[(ngModel)]="customer.city" name="city">
		</div>
		<div class="form-group">
			<label for="state"> State </label> <input type="text"
				class="form-control" id="state" required
				[(ngModel)]="customer.state" name="state">
		</div>
		<div class="form-group">
			<label for="zip"> Zip </label> <input type="text"
				class="form-control" id="zip" required
				[(ngModel)]="customer.zip" name="zip">
		</div>

		<div class="btn-group">
			<button class="btn btn-primary" (click)="goBack()">Back</button>
			<button type="submit" class="btn btn-success">Submit</button>
		</div>
	</form>
</div>

<div [hidden]="!submitted">
	<div class="btn-group ">
		<h4>You submitted successfully!</h4>
		<button class="btn btn-primary" (click)="goBack()">Back</button>
		<button class="btn btn-success" (click)="newCustomer()">Add</button>
	</div>
</div> -->